{
  'extends': 'airbnb',
  'rules': {
    'space-before-function-paren': [2, 'always'],
    'new-cap': [2, {                 // http://eslint.org/docs/rules/new-cap
      'newIsCap': true,
      'capIsNewExceptions': ['DropTarget', 'DropSource', 'DragDropContext']
    }],
    'import/no-extraneous-dependencies': ['error', {'devDependencies': ['webpack.*']}],
    'react/require-default-props': 0,
    'spaced-comment': ['error', 'always', {
      'block': { 'exceptions': ['*'] }
    }],
    'indent': ["error", 2, {'MemberExpression': 'off'}],
    'no-underscore-dangle': ["error", { "allow": ["_id"] }],
    'react/jsx-props-no-spreading': ["error", { "exceptions": ["Modal"] }]
  },
  'parser': 'babel-eslint',
  'parserOptions': {
    'ecmaFeatures': {
      'experimentalObjectRestSpread': true
    }
  },
  'globals': {
    'document': true,
    'window': true,
    'self': true,
    'navigator': true,
    'FileReader': true,
    'File': true,
    'Image': true,
  },
}
