// Form
// Label
$form-label-size: 14px;
$form-label-weight: 600;
$form-label-margin: 0 0 8px 0;
// Input, Textarea, Select, etc...
$form-2-input-radius: $global-radius;

// Hover Style Input, Textarea, Select, etc...

