// Box
$box-radius: 5px;
$box-bg-color: #fff;
$box-shadow: 0 10px 22px -6px rgba(0, 0, 0, 0.3);

// Box Header
$box-header-border: 0 solid rgba($first-color, .1);
$box-header-padding: 10px 12px;
// Box Header Title
$box-title-size: 17px;
$box-title-weight: bold;

// Box Content
$box-content-padding: 10px 12px;

$card-box-shadow: 0 5px 18px -6px rgba(0, 0, 0, 0.4);
$card-box-hover-shadow: 0 16px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

// Box Secondary
$box-secondary-color: #fff;
$box-secondary-bg-color: rgba(#000, .3);

$box-secondary-title-color: #fff;
$box-secondary-title-size: 16px;
$box-secondary-title-weight: bold;

$box-transparent-color: #fff;
